{% extends 'challenges/base.html' %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col">

            <div class="card" style="height: 30rem; width: 45rem;">

                <div class="card-header">

                    <h1>Challenge No.{{ challenge.id }}</h1>

                </div>

                <br>

                <i><p>{{ challenge.title }}</p></i>

                <br>

                <br>

                <p>{{ challenge.text }}</p>

            </div>

        </div>

        <div class="col">

            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit">Submit</button>
            </form>
        
        </div>

    </div>

    <br>

    <div class="row">

        {% if message == 'Your scipt has returned a non-zero exit code. Did you forget to include #!/bin/bash at the beginning of the script?' %}

        <div class="col">

            <br>
            <br>

            <div class="card text-white bg-danger mb-3" style="height: 7.5rem; width: 45rem;">
                <div class="card-body">
                    <h5 class="card-title">ERROR</h5>
                    <p>{{ message }}</p>
                  </div>
            </div>

        </div>
        
        {% elif message == 'Correct :)' %}

        <div class="col">
        
            <div class="card text-white bg-success mb-3" style="height: 7.5rem; width: 45rem;">
                <div class="card-body">
                    <h5 class="card-title">SUCCESS</h5>
                    <p>{{ message }}</p>
                  </div>
            </div>


        </div>

        {% elif message == 'Unfortunately, your script did not return the desired answer.' %}

        <div class="col">

            <div class="card text-white bg-secondary mb-3" style="height: 5rem; width: 45rem;">
                <div class="card-body">
                    <h5 class="card-title">INCORRECT</h5>
                    <p>{{ message }}</p>
                  </div>
            </div>

        </div>

        <div class="col">

            <div class="card text-white bg-secondary mb-3" style="height: 7.5rem; width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Where you went wrong</h5>
                    {% for key, value in results.items %}
                    <p>{{key}} : {{ value }}</p>
                    {% endfor %}
                  </div>
            </div>

        </div>

        {% endif %}

        <div class="col text-left">

            {% if message == 'Correct :)' %}
            {% if challenge.next_id != 0 %}
            <a href="{% url 'challenge' challenge.next_id %}">
                <button class="btn btn-success btn-circle btn-xl"><h3><b>Next</b></h3></button>
            </a>

            {% else %}
            <a href="{% url 'success' %}">
                <button class="btn-circle">next</button>
            </a>
            {% endif %}
            {% endif %}

            <br>
            <br>

        </div>

    </div>


</div>

{% endblock %}