{% extends 'challenges/base.html' %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-4">

            <div class="card" style="height: 25rem;">

                <h1>Challenge No.{{ challenge.id }}</h1>

                <hr>

                <br>

                <i>{{ challenge.title }}</i>

                <br>

                <br>

                <p>                    </p>

                <br>

                {{ challenge.text }}

            </div>

        </div>

        <div class="col-8">

            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Submit">
            </form>
        
        </div>

    </div>

</div>


<br>
<br>

{{ message }}

<br>
<br>

{% if message == 'Correct :)' %}
{% if challenge.next_id != 0 %}
<a href="{% url 'challenge' challenge.next_id %}">
    <button>next</button>
</a>
{% else %}
<a href="{% url 'success' %}">
    <button>next</button>
</a>
{% endif %}
{% endif %}

<br>
<br>
{% endblock %}